<%- include("./partials/head.ejs") %>
<body class="flex-container">
<%- include("./partials/nav.ejs") %>

    <div class="salespeople display">
        <h2>All Salespeople</h2>

        <% if (salespeople.length > 0) { %>
            <% salespeople.forEach(salesperson => { %>
                <h3 class="Name">Name: <%= salesperson.firstName + " " + salesperson.lastName %></h3>
                <p class="Address">Address: <%= salesperson.address %></p>
                <p class="Phone">Phone Number: <%= salesperson.phone %></p>
                <p class="startDate">Start Date: <%= salesperson.startDate.toDateString() %></p>
                <p class="terminationDate">Termination Date: <%= salesperson.terminationDate.toDateString() %></p>
                <p class="manager">Manager: <%= salesperson.manager %></p>
            <% }) %>
        <% } else { %>
            <p>There are no salespeople in the system.</p>
        <% } %>
        <button onclick="showUpdate()" class ="updateButton">Update</a>
    </div>

    <div class="updateForm" class="flex-container">
        <form action="" method="post">
            <label for="Old Phone Number">Old Phone Number: </label>
            <input type="number" id="oldPhone" name="oldPhone" required>
            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" name="firstName" required>
            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" name="lastName" required>
            <label for="address">Address: </label>
            <input type="text" id="address" name="address" required>
            <label for="phone">Phone Number: </label>
            <input type="number" id="phone" name="phone" required>
            <label for="startDate">Start Date: </label>
            <input type="date" id="startDate" name="startDate" required>
            <label for="terminationDate">Termination Date: </label>
            <input type="date" id="terminationDate" name="terminationDate" required>
            <label for="manager">Manager: </label>
            <input type="text" id="manager" name="manager" required>
            <button class="submitButton">Submit</button>
        </form>
    </div>
    <script>
        let updateForm = document.querySelector(".updateForm");
        let updateButton = document.querySelector(".updateButton");
        let submitButton = document.querySelector(".submitButton");

        updateForm.style.display = "none";
        function showUpdate() {
            updateForm.style.display = "block";
        }
    </script>
</body>